h1 {
    font-weight: normal;
}
a {
    color: inherit;
}
.btn {
    width: 95px;
    height: 38px;
    margin-left: 40px;
    font-size: 16px;
    display: block;
    color: #FFF;
    text-align: center;
    line-height: 38px;
    background-color: $primary;
}
html {
    min-width: 1300px;
    overflow: auto;
}
body {
    color: #666;
    background-color: #f2f2f2;
}
.container {
    width: 1250px;
    margin: 0 auto;
}
.container-main {
    padding-top: 16px;
}
.page-header {
    height: 104px;
    padding: 6px 0;
    background-color: #fff;
    .container {
        padding: 16px 0;
    }
    .logo {
        float: left;
        margin-right: 136px;
        margin-top: 8px;
        img {
            width: 160px;
        }
    }
    .center {
        float: left;
    }
    .sear_box {
        width: 520px;
        margin-bottom: 8px;
        overflow: hidden;
        border: 2px solid $primary;
        .main_sear_inp {
            float: left;
            width: 402px;
            height: 36px;
            line-height: 36px;
            padding: 8px;
            border: 0;
            outline: none;
            font-size: 14px;
        }
        .main_sear_btn {
            float: right;
            width: 100px;
            height: 36px;
            color: #fff;
            font-size: 16px;
            line-height: 34px;
            display: inline-block;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: $primary;
        }
    }
    .keywords {
        .link {
            margin-right: 8px;
            color: #999;
            &:hover {
                color: $primary;
            }
        }
    }
    .phone-box {
        float: right;
        padding-top: 10px;
        .title {
            margin-left: 2px;
            margin-bottom: 4px;
            font-size: 17px;
            color: #616161;
        }
        .phone {
            color: #E53E40;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.page-body {

}
.page-footer {
    background: #333;
    color: #999;
    line-height: 1.6;
    padding: 15px 0;
    text-align: center;
    .nav {
        line-height: 200%;
        a {
            color: #999;
        }
    }
}
.side-nav-list {
    position: fixed;
    right: 0;
    bottom: 160px;
    z-index: 100;
    width: 74px;
    background-color: #fff;
    .item {
        height: 72px;
        a {
            color: #666666;
            font-size: 12px;
            text-align: center;
            width: 100%;
            display: block;
            padding: 50px 0 5px 0;
            border: 1px solid #ededed;
            border-top: 0;
            background-image: url("/static/template/floatbox.png");
            background-position: center 8px;
            background-repeat: no-repeat;
        }
        .a1 {
            color: #fff;
            background-color: #9cb8e2;;
        }
    }
}
.feature-box {
    padding: 35px 0;
    background-color: #f8f8f8;
}
.feature-list {
    text-align: center;
    @include clearfix;
    .item {
        display: inline-block;
        //float: left;
        width: 160px;
    }
    .ic {
        width: 50px;
        height: 50px;
        margin: 0 auto 12px auto;
        background: url(/static/template/img/site.png) no-repeat;
    }
    .title {
        text-align: center;
    }
    .ic-1 {
        background-position: 0 -250px;
    }
    .ic-2 {
        background-position: 0 -350px;
    }
    .ic-3 {
        background-position: 0 -300px;
    }
    .ic-4 {
        background-position: 0 -50px;
    }
    .ic-5 {
        background-position: 0 0;
    }
    .ic-6 {
        background-position: 0 -150px;
    }
    .ic-7 {
        background-position: 0 -100px;
    }
}
.help-box {
    padding-top: 36px;
    padding-bottom: 32px;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
}
.help-list {
    @include clearfix;
    .item {
        float: left;
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px dashed #CCC;
        width: 18.2%;
        &:first-child {
            border-left: none;
        }
    }
    .title {
        FONT-SIZE: 18px;
        COLOR: #2e2e2e;
        HEIGHT: 30px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;
        margin: 15px 0;
    }
    .ic {
        display: block;
        width: 60px;
        height: 60px;
        background: url(/static/template/img/foot_icon_bg.png) no-repeat;
        margin: 0 auto;
    }
    .nav-list {
        .nav-item {
            text-align: center;
            line-height: 20px;
        }
        .link {
            COLOR: #666666;
        }
    }
    .qrcode {
        width: 150px;
        height: 150px;
    }
    .qrcode-text {
        font-size: 12px;
    }
    .ic-1 {

    }
    .ic-2 {
        background-position: 0 -129px;
    }
    .ic-3 {
        background-position: 0 -65px;
    }
    .ic-4 {
        background-position: 0 -194px;
    }
}
.top-bar {
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #DFDFDF;
    .welcome {
        float: left;
    }
    .collection {
        float: right;
    }
}
.nav-box {
    height: 42px;
    //background-color: $primary;
    background-color: #fff;
    border-bottom: 2px solid $primary;
    .all-category {
        display: block;
        float: left;
        width: 240px;
        margin-right: 32px;
        text-align: center;
        line-height: 42px;
        color: #fff;
        background-color: $primary;
    }
    .nav-list {
        float: left;
        @include clearfix;
        .item {
            float: left;
        }
        .link {
            display: block;
            padding: 0 24px;
            //color: #fff;
            color: #333;
            font-size: 16px;
            line-height: 42px;
            &.active,
            &:hover {
                color: $primary;
                //background-color: #fff;
            }
        }
    }
}
.article-box {
    width: 984px;
    padding: 20px;
    margin: 0 auto;
    font-size: 14px;
    border: 1px solid #eee;
    .header {
        margin-bottom: 24px;
        border-bottom: 1px solid #eee;
    }
    .title {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        color: #333;
        border-bottom: 2px solid #FA0400;
        height: 25px;
        line-height: 25px;
    }
    p {
        padding-top: 8px;
        line-height: 30px;
    }
}