@import "var";

.page-home {
    //background-color: #eee;
}
.template-list {
    @include clearfix;
    .item {
        width: 290px;
        margin-right: 16px;
        margin-bottom: 16px;
        float: left;
        background: #fbfbfb;
        box-shadow: 0px 0px 2px #dddddd;
        &:hover {
            box-shadow: 0px 0px 10px #dddddd;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    .img {
        display: block;
        width: 290px;
        height: 290px;
    }
    .name {
        padding: 18px 27px 0 27px;
        color: #666;
    }
    .footer {
        padding: 16px 24px;
        @include clearfix;
    }
    .price {
        float: left;
        color: #ff4b00;
    }
}
