@import "var";

.m-pack {
    text-align: center;
    margin-bottom: 20px;
}

.pack-hd td {
    height: px;
    line-height: 42px;
    padding-left: 20px;
    text-align: left;
}
.pack-hd td, .pack-hd th {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}
.m-pack .c_bd {
    width: 293px;
    background-color: rgb(255, 255, 255);
}
.m-pack li {
    float: left;
    display: inline;
    position: relative;
}
.trans {
    transition: all 0.3s ease 0s;
}
m-pack .s_td {
    height: 42px;
    line-height: 48px;
}
.m-pack .s_td, .m-pack .s_th {
    border: 1px solid rgb(221, 221, 221);
    margin: -1px;
}
.m-pack .s_td {
    height: 42px;
    line-height: 48px;
}
.bt-1 {
    display: inline-block;
    padding: 0px 40px;
    height: 30px;
    line-height: 30px;
    color: rgb(226, 86, 48);
    border: 1px solid rgb(226, 86, 48);
}
.trans {
    transition: all 0.3s ease 0s;
}
.pack-a {
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-weight: 400;
}
.pr {
    position: relative;
}
.m-pack .s_th {
    height: 235px;
    position: relative;
}
.m-pack .s_td, .m-pack .s_th {
    border: 1px solid rgb(221, 221, 221);
    margin: -1px;
}
.m-pack .s_c strong {
    font-size: 20px;
    display: block;
    color: rgb(102, 102, 102);
    font-weight: 400;
}
.m-pack .s_a strong {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
}
.m-pack .s_a {
    height: 97px;
    margin-bottom: 5px;
    background: url(/static/template/half-circle.png) no-repeat scroll -1px -13px transparent;
}
.pack-a .s3 b {
    position: absolute;
    top: 0px;
    left: 2px;
    height: 0px;
    width: 0px;
    border-right: 101px solid rgb(251, 251, 251);
    border-top: 117px solid rgb(251, 251, 251);
}
.pack-a .s3, .pack-a .s3 b {
    border-left: 101px dashed transparent;
    border-bottom: 117px dashed transparent;
}
.m-pack .s_c del, .m-pack .s_c small {
    display: block;
}
.pack-hd th {
    height: 235px;
}
.pack-hd td, .pack-hd th {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}
.m-pack .c_bd:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    color: rgb(226, 86, 48);
    z-index: 1;
    margin-top: -20px;
}
.m-pack .c_bd:hover .s_th {
    height: 255px;
    background-color: rgb(226, 86, 48);
    color: rgb(255, 255, 255);
    border-color: rgb(226, 86, 48);
}
.m-pack .c_bd:hover .bt-1, .m-pack .s_td_l .bt-1 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(226, 86, 48);
}
.pack-a .s1 {
    top: 51px;
    left: 90px;
    z-index: 1;
}
.pa {
    position: absolute;
}
.pack-a .s2 {
    left: 36px;
    top: 157px;
}
.m-pack .c_hd {
    font-size: 14px;
    color: rgb(102, 102, 102);
    width: 330px;
    background-color: rgb(251, 251, 251);
}
.m-pack li {
    float: left;
    display: inline;
    position: relative;
}
.pack-hd {
    width: 100%;
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: -1px;
}
.m-pack .s_c {
    font-size: 12px;
    line-height: 1.5;
    color: rgb(153, 153, 153);
}