@import "var";

.page-template-detail {

}
.detail-box {
    padding: 16px;
    margin-bottom: 24px;
    background-color: #fff;
    @include clearfix;
    .img-box {
        float: left;
        width: 420px;
        height: 420px;
        padding: 10px;
        margin-right: 48px;
        background: #ffffff;
        border: #eeeeee 1px solid;
        img {
            width: 100%;
        }
    }
    .info-box {
        float: left;
        .title {
            font-size: 18px;
            line-height: 24px;
        }
        .free {
            display: inline-block;
            width: 47px;
            height: 24px;
            margin-right: 16px;
            background: #ed1c24;
            line-height: 25px;
            margin-top: 8px;
            text-align: center;
            font-size: 14px;
            color: #FFFFFF;
        }
        .price {
            display: block;
            margin: 0 10px 0 0;
            font-size: 28px;
            color: #ee1c10;
            line-height: 50px;
        }
    }
}

.detail-box-2 {
    padding: 16px;
    background-color: #fff;
    line-height: 1.6;
    .green-title {
        background-color: rgb(51, 153, 102);
        color: rgb(255, 255, 255);
    }
    .sh_title {
        padding-left: 15px;
        padding-bottom: 15px;
        height: 25px;
    }
    .sh_title H2 {
        border-left: #CD0000 4px solid;
        display: inline;
        font-family: 微软雅黑, 黑体;
        font-size: 16px;
        width: 200px;
        float: left;
        font-weight: 400;
        color: #333;
        padding-left: 10px;
    }
    .properties {
        background: #f9f9f9;
        margin: 20px 15px 5px 15px;
        padding: 10px 20px;
        border: #eee 1px solid;
        text-align: left;
    }
    .properties .property {
        color: #999;
        line-height: 30px;
        text-align: left;
    }
    .shouhou {
        border-collapse: collapse;
        border-spacing: 0;
        border-top: solid 1px #ddd;
        border-left: solid 1px #ddd;
        width: 97%;
        margin: 0 auto 20px auto;
        line-height: 28px;
        font-size: 14px;
    }
    .shouhou th, .shouhou td {
        border-bottom: solid 1px #ddd;
        border-right: solid 1px #ddd;
        padding: 5px 10px;
    }
    .shouhou tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    p {

    }
    hr {
        height: 1px;
        border: none;
        border-top: 1px #333 dashed;
        background: none;
    }
}
